<h1>Users</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>rated beers</th>
      <th>total ratings</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.beers.size %></td>
        <td><%= user.ratings.size %></td>
        <% if current_user && current_user.admin && user.closed %>
          <td><span class= "badge badge-info badge-sm">account closed</span>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
